/* VERSION 1.0: menu_ads.css 10.00 */

	#left {
		z-index:4;
		position:absolute;
		top:146px;
		left:8px;
		width:180px;
		color:#669;
		border:0px solid white;
	}
	
	#left strong {
		font-weight:bold;
	}
	
	#left a:link:hover {
	    color: #339;
	    text-decoration: underline;
	}
	
	#left a:visited {
	    color: #939;
	    text-decoration: none;
		font-weight:bold;
	}
	
	#left a:visited:hover {
	    color: #939;
	    text-decoration: underline;
	}
	
	#left a:link {
		font-weight:bold;
	    color: #339;
	    text-decoration: none;
	}
	#left ul.links{margin-bottom:5px;}
	#left ul.links li a{font-weight:bold;}
	
	
	#left .searchfilter{
		background-color:#ccf;
		padding:7px 5px 7px 12px;
		border-bottom:1px solid #fff;
		}
	#left .searchfilter h2{margin:0 0 2px;}
	
	#left .trigger{
		margin-bottom:0;
		padding:6px 5px 5px 22px;
		border-bottom:1px solid #888C98;
		background:#669 url(/syntegra/images/ico-results-expanded.gif) 5px 7px no-repeat;
	}
	#left .trigger.active{
		background-image:url(/syntegra/images/ico-results-collapsed.gif);	
	}	
	
	#left .trigger a,
	#left .trigger a:visited,
	#left .trigger a:hover{color:#fff;}
	
	#left .searchnavnofilters{margin-top:2px;}
	#left .searchnavhead {
		background:#EAE9F7;
		padding:5px 5px 5px 12px;
		}
	#left .searchnavhead h4 a,
	#left .searchnavhead h4 a:hover{color:#333;}
	#left .searchnavhead h4 a:visited{color:#939;}
	#left .searchnav span.resultstotal{
		font-size:0.9em;
		float:right;
		}
	#left .searchnavlist ul{
		margin-bottom:0;
	}
	#left .searchnavlist ul li{
		border-top:1px solid #fff;
		background:#EAE9F7; 
		list-style-type:none;
		padding:5px 5px 5px 12px;
		margin-left:0;
		}
	#left .searchnavlist ul li a{
		display:block;
		width:128px;}
	#left .type{font-weight:bold;}
	#left .selected{background:#CFCFE7 !important;}
