/* VERSION 1.0: 24.04.08 - Merge basic and advanced styles */


/* Start of Exisiting Basic Styles */
/*
main #666699 
bg   #ccccff
text #666699
prefix practitioners
*/

/* THEME COLOUR */
	h1 {
		color:#666699;
	}
	#title,
	#left #opencategory td.spine,
	#contentflushtop img.footerline,
	
	div.treebox table.quiz td.title,
	div.basicbox td.title,
	div.dottedad td.header,
	table.criteria th {
		background-color:#666699;
	}
	div#layer2 div.basicbox h3,
	div#layer11 div.basicbox h3 {
		background-color:#9494DC;
	}
	div.treebox table.quiz {
		border:1px solid #666699;
	}
/* END THEME COLOUR */


/* THEME BACKGROUND COLOUR */
	#left #opencategory tr.highlight, 
	#left #opencategory tr.highlightfirst, 
	#left #opencategory tr.highlightlast,
	
	#contentflushtop #layer23 #maincontent,
	#allcontent #additionalcontent div.mainpanel,
	#allcontent #additionalcontent div.extrapanel,
	
	#content input.go,
	
	div.treebox table.quiz,
	div.basicbox td.highlighttext,
	div.promospot1,
	div.dottedbox td.title,
	div.dottedad td.eventbar,
	div#layer2 div.basicbox,
	div#layer11 div.basicbox {
		background-color:#ccccff;
	}
	
	div.treebox table.quiz td.title span {
		border-right-color:#ccccff;
	}
/* END THEME BACKGROUND COLOUR */


/* THEME TEXT COLOUR */
	h2,
	
	#support2 h2,
	#support2 div.tabular h4,
	#contentflushtop #maincontent p,
	
	div.dottedbox td.title h3 {
		color:#333333;
	}
/* END TEXT COLOUR */


/* THEME BACKGROUND IMAGES */
	div.treebox p.info {
		background-image:url("/syntegra/images/info_salesandmarketing.gif");
	}
	div.dottedbox td.horiz {
		background-image:url("/syntegra/images/dottedline_horiz_salesandmarketing.gif");
	}
	div.dottedbox td.vert {
		background-image:url("/syntegra/images/dottedline_vert_salesandmarketing.gif");
	}
	p.sitemap {
		background-image:url("/syntegra/images/leftnav_global_dark.gif");
	}
/* END THEME BACKGROUND IMAGES */


/* RESET COLOURS FOR SOME TEMPLATES */
	#content #allcontent h2 {
		color:#333;
	}
	#content div.selecttools input.go {
			background-color:white;
	}
	
	div.basicbox td.title h3,
	div.basicbox td.title h4 {
		color:white;
	}
/* END RESET */

/* RESET DOTTED HR */
	#content p.hr {
		margin-left:16px;
	}
/* END RESET DOTTED HR */



/* Start of Exisiting Advanced Styles */
/*
main #666699 
bg   #ccccff
text #666699
prefix practitioners
*/

/* THEME COLOUR */
	#event1 #additionalcontent h3 {
		background-color:#666699;
	}
/* END THEME COLOUR */


/* THEME BACKGROUND COLOUR */
	div.treebox table.quiz,
	input.submit,
	#poll1 h2, #poll2 h3,
	#email1 h2, #email h3, #email2 h3, #email3 h2,
	#left #opencategory tr.highlight *, #left #opencategory tr.highlightfirst *, #left #opencategory tr.highlightlast *,
	#support2 h2 {
		background-color:#ccccff;
	}
/* END THEME BACKGROUND COLOUR */


/* RESET COLOURS FOR SOME TEMPLATES */
	#left #opencategory tr.highlight, #left #opencategory tr.highlightfirst, #left #opencategory tr.highlightlast {
		background-color:transparent;
	}
/* END RESET */

/* THEME COLOURED ARROWS */
	div.basicbox ul.links li, div.mainpanel ul.links li, div.extrapanel ul.links li,div#secPracLanding #secPracGrid ul li a,
	div.pagecontrols ul li.next a {
		background-image: url("/syntegra/images/arrow_salesandmarketing.gif");
	}
	div.pagecontrols ul li.back a {background-image: url("/syntegra/images/arrow_left_salesandmarketing.gif");}
/* END ARROWS */

/* SECTOR PRACTIONERS LANDING GRID */
div#secPracLanding #secPracGrid ul li {
	border:1px solid #669;
	border-right:3px solid #669;
	border-bottom:3px solid #669;
	}
