/*
	UK Welcomes Branding
	Portal Specific CSS
*/

#strapline{color:#053399;}
#logo{margin-top:12px;margin-left:20px;}
#header{background-color:#fff;}
#left{top:133px;}
div.feed{border:1px solid #ccc;}



