.task_body
{		
	margin-top:1px;
}

#playerWidget
{
   border : solid 0px blue;
}


#screen {
    background-color: #EDEDED;
    float: left;
    height: 443px;
    margin: 0;
    position: relative;
    width: 483px;
}


#task_summary_block {
    top: 6px !important;
    width: 260px;
}

#cara {
    float: left;
    height: 475px;
    width: 260px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    background: none repeat scroll 0 0 #ededed;
    height: 430px;
    padding-bottom: 5px;
	width:250px;
	padding-right:10px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    padding:0;
	border:0px solid #000;
	width:260px;
	margin-left:10px;
}

.jcarousel-skin-tango .jcarousel-container {
    background: none repeat scroll 0 0 #00ff00;
    height: 450px;
    width: 260px;
}

.jcarousel-skin-tango .jcarousel-item {
    background-color: white;
    display: block;
    float: left;
    height: 98px;
    list-style: none outside none;
    margin: 0 0 0 5px;
    width: 240px;
}