#campaigns-body-sfbimage {
margin: 10px 0 0 0;
float: right;
width: 325px;
}

#campaigns-body-sfbtext {
margin: 0 0 0 10px;
padding: 5px;
width: 350px;
}

#campaigns-body-sfbtext ul {
margin-left:2em;
}

#campaigns-body-sfbtext li {
margin-top:1em; list-style-type:square;
}

#campaigns-body-footer {
width:730px;
margin: 20px 0 0 0;
}

#campaigns-body-footer .dottedline {
background:url(http://www.businesslink.gov.uk/presentation/images/dotted-line.gif) repeat-x left top; 
margin-top:1em; 
padding:0.1em 0 0.9em;
}

#campaigns-body-footer img {
margin: 5px 0 0 0;
}